.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  text-decoration: none;
  transition: color 0.3s;
  color: var(--ifm-navbar-link-color);
}

.featureLink:hover {
  text-decoration: none;
  color: var(--ifm-link-color);
}
